.contener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    border: 1px solid salmon;
    
    
}
.contener>div{
    

}
 
.box1{
    grid-column: 1/1;
    grid-row: 1/6;
    border: 3px solid yellow;


}
.box2{
    grid-column: 2/5;
    grid-row: 1/2;
    border: 3px solid yellow;
}
.box2{
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1f 1fr;
}
.box2>div{
    padding: 30px;
}
.box3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}
.box3>div{
    /* padding: 30px; */
}
.box2>.d1{
    border: 4px solid black;
}
.box2>.d2{
    border: 4px solid rgb(0, 91, 15);
}
.box3>.d1{
    border: 4px solid black;
}
.box3>.d2{
    border: 4px solid rgb(0, 91, 15);
}



.box3{
    grid-column: 2/4;
    grid-row: 2/4;
    border: 3px solid rgb(8, 184, 43);
}
.box4{
    grid-column: 2/4;
    grid-row: 4/5;
    border: 3px solid rgb(4, 0, 255);
}
.box4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.box4>.d1{
    border: 4px solid black;
}
.box4>.d2{
    border: 4px solid rgb(0, 91, 15);
}
.box5{
grid-column: 2/4;
    grid-row: 5/6;
    border: 3px solid rgb(0, 0, 0);
}











.box2>.d1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.box2>.d1>.d1{
    border: 6px solid;
}